@page
@model MerchantModifyModel
@{
    ViewData["Title"] = "商户管理";
}
@section styles{
    <style>
        .layui-form-label { width: 100px; }

        .layui-form-item { margin-bottom: 8px; }

        .layui-input-block { margin-left: 0px; width: 200px; float: left; }

        .form-cus { padding: 15px 15px 0 0; }
    </style>
}
<form class="layui-form form-cus" autocomplete="off">
    <div class="layui-form-item">
        <label class="layui-form-label">商户名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="@Model.Merchant.name" maxlength="20" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
        <label class="layui-form-label">登录账号</label>
        <div class="layui-input-block">
            <input type="text" name="admin_name" value="@Model.Merchant.admin_name" @(Model.Merchant.id > 0 ? "disabled" : null) maxlength="20" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系人</label>
        <div class="layui-input-block">
            <input type="text" name="contact" value="@Model.Merchant.contact" maxlength="20" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-block">
            <input type="text" name="tel" value="@Model.Merchant.tel" maxlength="20" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin:10px 0 10px 15px;"><legend><i class="layui-icon layui-icon-component"></i></legend></fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">代理商</label>
        <div class="layui-input-block">
            <select name="agent_admin_guid" lay-filter="agent_admin_guid">
                @foreach (var item in Model.CmsAgents)
                {
                    <option value="@item.Admin_Guid">@item.Name</option>
                }
            </select>
        </div>
        <label class="layui-form-label">订单前缀</label>
        <div class="layui-input-block">
            <input type="text" name="order_perfix" value="@Model.Merchant.order_perfix" maxlength="40" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Email</label>
        <div class="layui-input-block">
            <input type="text" name="email" value="@Model.Merchant.email" maxlength="40" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
        <label class="layui-form-label">公众号AppId</label>
        <div class="layui-input-block">
            <input type="text" name="appid" value="@Model.Merchant.appid" maxlength="40" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商户子账号</label>
        <div class="layui-input-block">
            <input type="text" name="out_sub_mch_id" value="@Model.Merchant.out_sub_mch_id" maxlength="40" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
        <label class="layui-form-label">授权密钥</label>
        <div class="layui-input-block">
            <input type="text" name="authen_key" value="@Model.Merchant.authen_key" maxlength="40" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin:10px 0 10px 15px;"><legend><i class="layui-icon layui-icon-component"></i></legend></fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">微信费率</label>
        <div class="layui-input-block">
            <input type="text" name="wxpay" value="@Model.Merchant.wxpay" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
        <label class="layui-form-label">代理商费率</label>
        <div class="layui-input-block">
            <input type="text" name="agent_wxpay" value="@Model.Merchant.agent_wxpay" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">支付宝费率</label>
        <div class="layui-input-block">
            <input type="text" name="alipay" value="@Model.Merchant.alipay" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
        <label class="layui-form-label">代理商费率</label>
        <div class="layui-input-block">
            <input type="text" name="agent_alipay" value="@Model.Merchant.agent_alipay" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">其它费率</label>
        <div class="layui-input-block">
            <input type="text" name="otherpay" value="@Model.Merchant.otherpay" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
        <label class="layui-form-label">代理商费率</label>
        <div class="layui-input-block">
            <input type="text" name="agent_otherpay" value="@Model.Merchant.agent_otherpay" lay-verify="required" lay-verType="tips" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div style="text-align:center; margin-top:25px;">
            <button class="layui-btn" lay-submit="" lay-filter="submit" id="submit"><i class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-hide"></i>立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary btn-open-close">取消</button>
        </div>
    </div>
    <input type="hidden" name="Id" id="Id" value="@Model.Merchant.id" />
</form>
@section Scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'common', 'form'], function () {
            var form = layui.form, $ = layui.jquery, os = layui.common;
            var index = parent.layer.getFrameIndex(window.name);
            var _agent_admin_guid = '';
            //监听提交
            form.on('submit(submit)', function (data) {
                if (data.field.agent_admin_guid === '') {
                    os.error("请选择代理商");
                    return false;
                }
                $('#submit').attr('disabled', true).find('i').removeClass('layui-hide');
                var urls = "api/merchant/add";
                if ($("#Id").val() !== '0') {
                    urls = "api/merchant/edit";
                }
                os.ajax(urls, data.field, function (res) {
                    $('#submit').attr('disabled', false).find('i').addClass('layui-hide');
                    if (res.statusCode == 200) {
                        parent.layer.close(index);
                    }
                    else {
                        os.error(res.message);
                    }
                });
                return false;
            });
            $(".btn-open-close").on('click', function () {
                parent.layer.close(index);
            });
            form.render();
            //选中事件
            form.on('select(agent_admin_guid)', function (data) {
                if (data.value === _agent_admin_guid) return;
                _agent_admin_guid = data.value;
                load_agent(_agent_admin_guid);
            });
            //新增时根据默认选中的等级加载对应的费率
            if ($("#Id").val() === '0') {
                _agent_admin_guid = $("select[name=agent_admin_guid]").val();
                load_agent(_agent_admin_guid);
            } else {
                _agent_admin_guid = '@Model.Merchant.agent_admin_guid';
                $("select[name=agent_admin_guid]").val('@Model.Merchant.agent_admin_guid');
                form.render('select');
            }
            //根据等级加载费率
            function load_agent(guid) {
                os.ajax('api/merchant/agentbyguid', { parm: guid }, function (res) {
                    $("input[name=agent_wxpay]").val(res.wxpay);
                    $("input[name=agent_alipay]").val(res.alipay);
                    $("input[name=agent_otherpay]").val(res.otherpay);
                });
            }
        });
    </script>
}