@page
@model MerchantDetailModel
@{
    ViewData["Title"] = "子商户详情";
}
@section styles{
    <style>
        .layui-form-label { width: 100px; }
        .layui-form-item { margin-bottom: 8px; }
        .layui-input-block { margin-left: 0px; width: 200px; float: left; }
        .form-cus { padding: 15px 15px 0 0; }
    </style>
}
<form class="layui-form form-cus" autocomplete="off">
    <div class="layui-form-item">
        <label class="layui-form-label">商户名称</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.name" disabled class="layui-input">
        </div>
        <label class="layui-form-label">登录账号</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.admin_name" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系人</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.contact" disabled class="layui-input">
        </div>
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.tel" disabled class="layui-input">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin:10px 0 10px 15px;"><legend><i class="layui-icon layui-icon-component"></i></legend></fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">Email</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.email" disabled class="layui-input">
        </div>
        <label class="layui-form-label">公众号AppId</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.appid" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商户子账号</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.out_sub_mch_id" disabled class="layui-input">
        </div>
        <label class="layui-form-label">授权密钥</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.authen_key" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">订单前缀</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.order_perfix" disabled class="layui-input">
        </div>
        <label class="layui-form-label">启用状态</label>
        <div class="layui-input-block">
            <input type="checkbox" @(Model.Merchant.status ? "checked" : null) lay-text="是|否" disabled lay-skin="switch" lay-filter="switch">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin:10px 0 10px 15px;"><legend><i class="layui-icon layui-icon-component"></i></legend></fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">微信费率</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.wxpay" disabled class="layui-input">
        </div>
        <label class="layui-form-label">代理商费率</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.agent_wxpay" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">支付宝费率</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.alipay" disabled class="layui-input">
        </div>
        <label class="layui-form-label">代理商费率</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.agent_alipay" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">其它费率</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.otherpay" disabled class="layui-input">
        </div>
        <label class="layui-form-label">代理商费率</label>
        <div class="layui-input-block">
            <input type="text" value="@Model.Merchant.agent_otherpay" disabled class="layui-input">
        </div>
    </div>
</form>
@section Scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'common', 'form'], function () { });
    </script>
}