@page
@using FytSoa.Extensions
@using FytSoa.Service.DtoModel.Wx
@inject FytSoa.Service.Interfaces.Cms.ICmsMerchantService ms
@inject FytSoa.Service.Interfaces.ISysAdminService adminservice
@inject FytSoa.Service.Interfaces.ICmsShopService shopService
@{
    ViewBag.Title = "支付记录查询";
    var isSys = await HttpContext.IsSystem();
    var admin_guid = await HttpContext.LoginUserId();
    var admin = await adminservice.GetModelAsync(p => p.Guid == admin_guid);
    var ms_list = (await ms.GetListAsync(p => (isSys || p.admin_guid == admin_guid || p.admin_guid == admin.data.CreateBy) && p.status, p => p.id, Common.DbOrderEnum.Asc)).data;
    var def_date = DateTime.Now.ToString("yyyy-MM-dd");
}
@section styles{
    <style>
        .layui-form-label { width: 100px; }
        .layui-form-item { margin-bottom: 8px; }
        .layui-input-block { margin-left: 0px; width: 200px; float: left; }
        .layui-layer-btn { padding: 0 35px 65px !important; }
        .width-130 { width: 130px; }
    </style>
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <form autocomplete="off" id="searchform">
                <div>
                    <span class="layui-inline">　　商户：</span>
                    <div class="layui-inline">
                        <div id="out_sub_mch_id" style="width:250px" data-json='@Html.Raw(Json.Serialize(ms_list.Select(p=>new { name = p.name, value = p.out_sub_mch_id })))'></div>
                    </div>
                    <span class="layui-inline">门店：</span>
                    <div class="layui-inline">
                        <div type="text" id="out_shop_id" style="width:200px"></div>
                    </div>
                    <span class="layui-inline">工号：</span>
                    <div class="layui-inline">
                        <div type="text" id="staff_id" style="width:200px"></div>
                    </div>
                </div>
                <div style="margin:10px 0 0">
                    <span class="layui-inline">支付渠道：</span>
                    <div class="layui-inline">
                        <div id="pay_platform" style="width:200px" data-json='@Html.Raw(Json.Serialize(typeof(SubPayPlatform).ToDropdown().Select(p=>new { name=p.Text,value=p.Value})))'></div>
                    </div>
                    <span class="layui-inline">支付类型：</span>
                    <div class="layui-inline">
                        <div id="trade_type" style="width:200px" data-json='@Html.Raw(Json.Serialize(typeof(TradeType).ToDropdown().Select(p=>new { name=p.Text,value=p.Value})))'></div>
                    </div>
                    <span class="layui-inline">支付状态：</span>
                    <div class="layui-inline">
                        <div id="status" style="width:200px" data-json='@Html.Raw(Json.Serialize(typeof(PayStatus).ToDropdown().Select(p=>new { name=p.Text,value=p.Value})))'></div>
                    </div>
                </div>
                <div style="margin:10px 0 0;">
                    <span class="layui-inline">交易日期：</span>
                    <div class="layui-inline width-130" style="margin-right:0px;">
                        <input type="text" id="_start_date" name="_start_date" value="@def_date" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline width-130">
                        <input type="text" id="_start_time" name="_start_time" value="00:00:00" autocomplete="off" class="layui-input">
                    </div>
                    <span class="layui-inline"> - </span>
                    <div class="layui-inline width-130" style="margin-right:0px;">
                        <input type="text" id="_end_date" name="_end_date" value="@def_date" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline width-130">
                        <input type="text" id="_end_time" name="_end_time" value="23:59:59" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-search"></i> 搜索</button>
                        <button type="button" id="export" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-export"></i> 导出</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
        <script type="text/html" id="tool">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe702;</i> 详情</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="refund"><i class="layui-icon">&#xe65e;</i> 退款</a>
        </script>
        <script type="text/html" id="details">
            <form class="layui-form form-details">
                <div class="layui-form-item">
                    <label class="layui-form-label">店铺名称</label>
                    <div class="layui-input-block">
                        <input value="{{ d.shop_name }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">店员名称</label>
                    <div class="layui-input-block">
                        <input value="{{ d.staff_name }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">设备编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.device_id }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">设备名称</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.device_name }}" disabled class="layui-input">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"><legend><i class="layui-icon layui-icon-component"></i></legend></fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">交易流水号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.out_trade_no }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">交易时间</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ layui.util.toDateString(d.time_end, 'yyyy-MM-dd HH:mm:ss') }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付渠道</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.sub_pay_platform }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">支付类型</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.trade_type }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">订单金额</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.total_fee.tc() }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">手续费</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.poundage.tc() }}" disabled class="layui-input">
                    </div>
                </div>
            </form>
        </script>
        <script type="text/html" id="refund">
            <form class="layui-form form-details">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;"><legend><i class="layui-icon layui-icon-component"></i></legend></fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">交易流水号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.out_trade_no }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">交易时间</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ layui.util.toDateString(d.time_end, 'yyyy-MM-dd HH:mm:ss') }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付渠道</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.sub_pay_platform }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">支付类型</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.trade_type }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">订单金额</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.total_fee.tc() }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">手续费</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ d.poundage.tc() }}" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">可退金额</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ (d.total_fee - d.refunded_fee).tc() }}" disabled class="layui-input">
                    </div>
                    <label class="layui-form-label">退款金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="refund_fee" value="{{ (d.total_fee - d.refunded_fee)/100 }}" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">退款原因</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="refund_reason" style="width:530px">
                    </div>
                </div>
                <input type="hidden" name="out_trade_no" value="{{ d.out_trade_no }}" />
                <input type="hidden" name="total_fee" value="{{ d.total_fee }}" />
                <input type="hidden" name="sub_pay_platform" value="{{ d.sub_pay_platform }}" />
                <input type="hidden" name="out_sub_mch_id" value="{{ d.out_sub_mch_id }}" />
                <input type="hidden" name="out_shop_id" value="{{ d.out_shop_id }}" />
                <input type="hidden" name="refund_fee_type" value="{{ d.fee_type }}" />
            </form>
        </script>
    </div>
</div>
@section scripts{
    <script src="~/themes/js/xm-select.js" asp-append-version="true"></script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'jquery', 'common', 'laydate', 'laytpl', 'layer'],
            function () {
                var table = layui.table,
                    $ = layui.jquery,
                    dt = layui.laydate,
                    tpl = layui.laytpl,
                    l = layui.layer,
                    os = layui.common;
                var pp = xmSelect.render({
                    el: '#pay_platform',
                    size: 'small',
                    name: 'sub_pay_platforms',
                    data: $('#pay_platform').data('json'),
                });
                var mp_data = $('#out_sub_mch_id').data('json');
                if (mp_data.length) {
                    mp_data[0].selected = true;
                }
                var mp = xmSelect.render({
                    el: '#out_sub_mch_id',
                    name: 'out_sub_mch_id',
                    radio: true,
                    disabled: '@isSys' === "False" ? true : false,
                    clickClose: true,
                    size: 'small',
                    layVerify: 'required',
                    data: $('#out_sub_mch_id').data('json'),
                    on: (e) => {
                        if (e.arr.length) {
                            var out_sub_mch_id = e.arr[0].value;
                            os.ajax('api/shop/getshopbymch', { out_sub_mch_id: out_sub_mch_id }, (res) => {
                                sp.update({ data: res });
                                os.ajax('api/shop/getstaffbyshop', { out_sub_mch_id: out_sub_mch_id }, (res) => sf.update({ data: res }));
                            });
                        }
                        else {
                            sp.reset();
                            sf.reset();
                        }
                    }
                });
                var sp = xmSelect.render({
                    el: '#out_shop_id',
                    name: 'out_shop_id',
                    radio: true,
                    size: 'small',
                    clickClose: true,
                    filterable: true,
                    remoteSearch: true,
                    remoteMethod: (val, cb, show) => os.ajax('api/shop/getshopbymch', { key: val, out_sub_mch_id: mp.getValue('valueStr') }, (res) => cb(res)),
                    on: (e) => {
                        if (e.arr.length) {
                            os.ajax('api/shop/getstaffbyshop', { out_sub_mch_id: mp.getValue('valueStr'), out_shop_id: e.arr[0].value }, (res) => sf.update({ data: res }));
                        }
                        else {
                            sf.reset();
                        }
                    }
                });
                var sf = xmSelect.render({
                    el: '#staff_id',
                    name: 'staff_id',
                    radio: true,
                    size: 'small',
                    clickClose: true,
                    filterable: true,
                    remoteSearch: true,
                    remoteMethod: (val, cb, show) => os.ajax('api/shop/getstaffbyshop', { key: val, out_sub_mch_id: mp.getValue('valueStr'), out_shop_id: sp.getValue('valueStr') }, (res) => cb(res)),
                });
                xmSelect.render({
                    el: '#trade_type',
                    radio: true,
                    clickClose: true,
                    size: 'small',
                    name: 'trade_type',
                    data: $('#trade_type').data('json'),
                });
                xmSelect.render({
                    el: '#status',
                    radio: true,
                    clickClose: true,
                    size: 'small',
                    name: 'status',
                    data: $('#status').data('json'),
                });
                table.render({
                    elem: '#tablist',
                    method: 'post',
                    contentType: 'application/json',
                    headers: os.getToken(),
                    request: {
                        pageName: 'page_num',
                        limitName: 'page_size'
                    },
                    url: '/api/sync/trade',
                    cols: [
                        [
                            { field: 'sub_pay_platform', title: '支付渠道', width: 120 },
                            { field: 'out_trade_no', title: '流水单号', width: 260 },
                            { field: 'shop_name', title: '门店名称', width: 200 },
                            { title: '订单金额', templet: (d) => d.total_fee.tc(), width: 110, align: 'right' },
                            { field: 'trade_type', title: '支付类型', width: 120 },
                            { field: 'trade_state', title: '支付状态', width: 120 },
                            { align: 'center', title: '创建时间', width: 160, templet: (d) => layui.util.toDateString(d.time_end, 'yyyy-MM-dd HH:mm:ss') },
                            { field: 'device_id', title: '设备号', width: 90, aigen: 'center' },
                            { field: 'staff_name', title: '店员名', width: 120 },
                            { title: '手续费', templet: (d) => d.poundage.tc(), width: 100, align: 'right' },
                            { title: '操作', align: 'center', templet: '#tool', width: 180 }
                        ]
                    ],
                    where: data(),
                    page: true,
                    id: 'tables'
                });
                dt.render({ elem: '#_start_date', type: 'date', max: '@def_date' });
                dt.render({ elem: '#_start_time', type: 'time' });
                dt.render({ elem: '#_end_date', type: 'date', max: '@def_date' });
                dt.render({ elem: '#_end_time', type: 'time' });
                $('#searchform').on('submit', () => {
                    table.reload('tables',
                        {
                            page: {
                                curr: 1
                            },
                            where: data()
                        });
                    return false;
                });
                $('#export').on('click', () => {
                    l.open({ title: '订单数据导出', area: ['550px', '300px'], content: '/api/sync/tradeexport/?q=' + encodeURI(JSON.stringify(data())), type: 2 });
                });
                table.on('tool(tool)', function (obj) {
                    switch (obj.event) {
                        case 'detail':
                            tpl(details.innerHTML).render(obj.data, (html) => l.open({ title: '交易订单详情', area: ['720px', '480px'], content: html }));
                            break;
                        case 'refund':
                            tpl(refund.innerHTML).render(obj.data, (html) => l.open({
                                title: '订单退款',
                                area: ['720px', '480px'],
                                content: html,
                                btn: ['退款', '取消'],
                                yes: (i, l) => {
                                    os.ajax('api/sync/dorefund', $(l).find('form').serializeArray().js(), (res) => {
                                        if (res.statusCode) {
                                            os.error(res.message);
                                        }
                                        else {
                                            layer.close(i);
                                        }
                                    });
                                }
                            }));
                            break;
                    }
                });
                function data() {
                    var _data = $('#searchform').serializeArray().js();
                    _data['sub_pay_platforms'] = pp.getValue('value');

                    if ($.trim($("#_start_date").val()).length == 0) {
                        $("#_start_date").val('@def_date');
                    }
                    if ($.trim($("#_end_date").val()).length == 0) {
                        $("#_end_date").val('@def_date');
                    }

                    _data["start_time"] = $.trim($("#_start_date").val() + " " + $("#_start_time").val());
                    _data["end_time"] = $.trim($("#_end_date").val() + " " + $("#_end_time").val());
                    return _data;
                }
            });
    </script>
}