@using System.Security.Claims;
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="~/themes/layui/css/layui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/build/admin/css/site.min.css" asp-append-version="true">
    @RenderSection("styles", false)
    <style type="text/css">
        .unreadquantity {
            position: absolute;
            text-align: center;
            top: 10px;
            left: 45px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: red;
            border-radius: 50% / 50%;
            color: #fff;
        }

    </style>
    <script src="~/themes/js/modules/vue.js" asp-append-version="true"></script>
    <script src="~/themes/layui/layui.js" asp-append-version="true"></script>
    <title>@ViewBag.Title - @ViewBag.SiteName</title>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" id="mainapp">
            <div class="layui-logo">@ViewBag.SiteName</div>
            <ul class="layui-nav layui-layout-left layui-first-nav" lay-filter="topmenu">
                <li class="layui-nav-item layui-this" v-for="(it,index) in menulist" v-cloak v-if="it.layer===1 && index===0"><a href="javascript:void(0)" :data-index="index"><i :class="'layui-icon '+it.icon"></i>{{it.name}}</a></li>
                <li class="layui-nav-item" v-for="(it,index) in menulist" v-cloak v-if="it.layer===1 && index!=0"><a href="javascript:void(0)" :data-index="index"><i :class="'layui-icon '+it.icon"></i>{{it.name}}</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="/fytadmin" style="padding-right:0px;"><i class="layui-icon">&#xe68e;</i>主页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);" style="padding-right:15px;" @@click="noticelist"><i class="layui-icon">&#xe667;</i></a>
                    <div v-if="block" class="unreadquantity">{{ unreadquantity }}</div>
                </li>
                @*<li class="layui-nav-item">
                    <a title="客服电话" style="padding-right:0px;"><i class="layui-icon">&#xe626;</i>@ViewBag.Tel</a>
                </li>*@
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">
                        <span class="username">@User.Identities.First(u => u.IsAuthenticated).FindFirst(ClaimTypes.WindowsAccountName).Value <i class="layui-icon"></i></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);" @@click="updatepwd()">修改密码</a></dd>
                        <hr />
                        <dd><a href="javascript:void(0)" @@click="logout()">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black" id="rmapp">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree fyt-nav-tree layui-hide" v-for="(m,mindex) in tmlist">
                    <li class="layui-nav-item" :class="index==0?'layui-nav-itemed':''" v-for="(it,index) in list" v-cloak v-if="it.layer===2 && it.parentGuid===m.guid">
                        <a class="" href="javascript:;"><i :class="'layui-icon '+it.icon"></i>{{it.name}}</a>
                        <dl class="layui-nav-child">
                            <dd v-for="row in list" v-if="row.layer===3 && row.parentGuid===it.guid"><a :href="row.urls">{{row.name}}</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body" id="main-container">
            @RenderBody()
            @*<div class="cr">@Html.Raw(ViewBag.right)</div>*@
        </div>
    </div>
    <div class="load-container load8">
        <div class="load-wall">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <script type="text/javascript" src="~/themes/js/echarts.min.js"></script>
    <script type="text/javascript" src="~/themes/js/macarons.js"></script>
    <script type="text/javascript" src="~/themes/js/nprogress.js"></script>
    <script type="text/javascript" src="~/themes/js/layout/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
